/*lista tareas*/

.contenedor-lista-principal{
    width: 600px;
    min-height: 400px;
    background-color: rgb(161, 161, 172);
    padding: 25px;
    margin: 10px;  
    border-radius: 26px;
    
  }